.formDiv{
    /* margin: 20%; */
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    background-color:aliceblue;
    padding: 3%;
}

span{
    color: red;
}


footer{
    background-color: grey;
      padding: 10px;
      text-align: center;
      color: white;
    }
